<!DOCTYPE html>
<html lang="en" data-theme="light" x-data="main" x-init='initWithData(<%- JSON.stringify(data.sidebar.menu) %>)'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/public/js/toastifyjs@1.12.0/toastify.min.css"/>
    <link rel="stylesheet" href="/public/css/normalize.css"/> 
    <link rel="stylesheet" href="/public/css/bulma/bulma.min.css"/>
    <link rel="stylesheet" href="/public/css/font/iconfont.css"/>
    <link rel="stylesheet" href="/public/dist/css/main.css"/>
    <script src="/public/js/alpinejs@3.14.8/cdn.min.js" defer></script>
</head>
<body>
<div class="main-layout">
    <!-- 左侧边栏 -->
    <aside class="sidebar">
        <div class="sidebar-title">
            <%= data.sidebar.title %>
        </div>
        <ul class="sidebar-menu">
            <% data.sidebar.menu.forEach(item => { %>
            <li>
                <span
                   :class="{ 'active': state.activeMenuItem === '<%= item.id %>' }" 
                   @click="handleMenuClick($event, '<%= item.id %>', '<%= item.url %>')"
                   >
                    <%= item.name %>
                </span>
            </li>
            <% }); %>
        </ul>
    </aside>
    
    <!-- 主内容区域 -->
    <main class="main-content">
        <div class="main-content-title">
            <div class="user-info">
                <div class="user-name">
                    <span class="user-icon">
                        <i class="iconfont icon-zhanghao"></i>
                    </span>
                    <span class="user-welcome">欢迎,</span>
                    <span><%=data.username%></span>
            </div>
                <button class="button is-danger" :class="state.logout ? 'is-loading':''" @click="logout()">退出</button>
            </div>
        </div>
        <div class="main-content-box">
            <!-- 加载状态 -->
            <div x-show="state.loading" class="loading-overlay">
                <div class="loading-spinner"></div>
            </div>
            
            <!-- 页面内容容器 - 完全动态加载 -->
            <div id="page-content" data-page-root x-show="!state.loading" class="page-content" x-html="state.currentPageContent">
                <!-- 动态内容将在这里渲染 -->
            </div>
        </div> 
    </main>
</div>
<script src="/public/js/page.js-1.11.5/page.js"></script>
<script src="/public/js/handlebars@4.7.8/handlebars.runtime.min-v4.7.8.js"></script>
<script src="/public/js/toastifyjs@1.12.0/toastify-js.js"></script>
<script src="/public/js/axios@1.7.9/axios.min.js"></script>
<script src="/public/dist/src/lib/pageRuntime.global.js"></script>
<script src="/public/dist/src/main.js"></script>
</body>
</html>